html,
    body{
        font-family: Roboto, sans-serif;
        margin: 0%;
        border-color: black;
    }
    .header{
        text-align: center;
        background-color: grey;
        color: white;
        padding: 15px;
        margin-bottom: 10px;
    }
    .Menu{
        background-color:grey;
        width: 300px;
        padding: 20px;
        height: 50%;
        margin: 0%;
    }
    .menu-list{
        padding: 10px;
        color: white;
    }
    .Footer{
        text-align: center;
        background-color: grey;
        padding:  20px;
        color: white;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
    }
    .profile-picture{
        border-radius: 50%;
    }
    .img{
        border-radius: 80%;
        width: 90%;
        height: 90%;
        margin-left: 25px;
        margin-right: 25px
    }
